<div class="container" id ="buscar">
    <div class="input-group" >
        <input type="text" class="form-control" placeholder="Buscar">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
        </span>
    </div><!-- /input-group -->
</div>

<div class="container" id="offer">

    <div class="input-group" >
        <a href="#/paso1" role="button" id="offermessage" class="btn">Pide tu crédito aprobado <br/> de  hasta $3.000.000</a>
            <span class="input-group-btn">
              <a href="#/paso1" role="button" class="btn btn-default" type="button"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></a>
            </span>
    </div><!-- /input-group -->
</div>

<div class="container" id="main-menu">
    <div class="row">
        <div class="btn-group btn-group-justified col-sm-6" role="group">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">
                    <div>Mi Perfil</div>
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
            </div>
        </div>

        <div class="btn-group btn-group-justified col-sm-6" role="group">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default"><div>Cuenta Corriente</div>
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
            </div>
        </div>

        <div class="btn-group btn-group-justified col-sm-6" role="group">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default"><div>Cuenta de Ahorro</div>
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
            </div>
        </div>

        <div class="btn-group btn-group-justified col-sm-6" role="group">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default"><div>Cuenta RUT</div>
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
            </div>
        </div>

        <div class="btn-group btn-group-justified col-sm-6" role="group">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default"><div>Pagar Cuentas</div>
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
            </div>
        </div>

        <div class="btn-group btn-group-justified col-sm-6" role="group">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default"><div>Recargas</div>
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
            </div>
        </div>
    </div>
</div>