<div class="container">
    <div class="row bs-wizard" style="border-bottom:0;">

        <div class="col-xs-4 bs-wizard-step completed">
            <div class="text-center bs-wizard-stepnum"></div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot">1</a>
            <div class="bs-wizard-info text-center">Simular</div>
        </div>

        <div class="col-xs-4 bs-wizard-step completed"><!-- complete -->
            <div class="text-center bs-wizard-stepnum"></div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot">2</a>
            <div class="bs-wizard-info text-center">Confirmar</div>
        </div>

        <div class="col-xs-4 bs-wizard-step active"><!-- complete -->
            <div class="text-center bs-wizard-stepnum"></div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot">3</a>
            <div class="bs-wizard-info text-center">Comprobante</div>
        </div>

    </div>
</div>

<div class="container">
    <h1>Comprobante del Crédito</h1>
</div>

<div class="container">
    <div class="vertical-align-parent">
        <div class="pull-left" style="margin: 20px">
            <span class="glyphicon glyphicon-ok" style="color: #27ae60" aria-hidden="true"></span>
        </div>
        <p class="vertical-align-child">Su Crédito ha sido abonado a su cuenta exitosamente. </p>
    </div>

    <br>
    <p style=" text-align: justify; text-justify: inter-word;">
        Enviamos los siguientes documentos a su correo electrónico <strong>usuario@gmail.com</strong>:
    </p>
    <ul>
        <li>Contrato del Crédito</li>
        <li>Hoja de resumen del Crédito</li>
        <li>Propuesta de Póliza de Seguro</li>
        <li>Anexo de Contratación de Productos</li>
        <li>Calendario de Vencimientos</li>
    </ul>
</div>
<br>
<div class="container" id="comprobante-credito">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Comprobante del Crédito</h2>
        </div>
        <div class="panel-body">


            <h3>Detalle</h3>

            <table class="table-stripped" style="margin:auto">
                <tr>
                    <td>Número de solicitud</td>
                    <td>:</td>
                    <td>29848839</td>
                </tr>
                <tr>
                    <td>Fecha de solicitud</td>
                    <td>:</td>
                    <td id="fecha-solicitud"></td>
                </tr>
                <tr>
                    <td>Cliente</td>
                    <td>:</td>
                    <td>Camila Hermosilla Gómez</td>
                </tr>
                <tr>
                    <td>RUT</td>
                    <td>:</td>
                    <td>13.498.857-4</td>
                </tr>
                <tr>
                    <td>Valor de Cuota</td>
                    <td>:</td>
                    <td>{{money(valorCuota)}}</td>
                </tr>
                <tr>
                    <td>Costo Total del Crédito</td>
                    <td>:</td>
                    <td>{{money(costoTotal)}}</td>
                </tr>
                <tr>
                    <td>Número de Cuotas</td>
                    <td>:</td>
                    <td>{{months}} meses</td>
                </tr>
                <tr>
                    <td>Tasa Mensual de Interés</td>
                    <td>:</td>
                    <td>{{percent(interes)}}</td>
                </tr>
                <tr>
                    <td>Monto Solicitado</td>
                    <td>:</td>
                    <td>{{money(montoSolicitado)}}</td>
                </tr>
                <tr>
                    <td>Monto Total</td>
                    <td>:</td>
                    <td>{{money(montoTotal)}}</td>
                </tr>
                <tr>
                    <td>Seguros Asociados</td>
                    <td>:</td>
                    <td>UF {{ufvalue(seguroUF)}} ({{money(seguro)}})</td>
                </tr>
                <tr>
                    <td>Impuestos</td>
                    <td>:</td>
                    <td>{{money(impuesto)}}</td>
                </tr>
                <tr>
                    <td>Notario</td>
                    <td>:</td>
                    <td>{{money(notario)}}</td>
                </tr>
                <tr>
                    <td>Día de Pago</td>
                    <td>:</td>
                    <td>{{eachMonth(paymentDay)}}</td>
                </tr>
                <tr>
                    <td>Fecha Primer Pago</td>
                    <td>:</td>
                    <td>{{chileanDate(paymentDay)}}</td>
                </tr>
                <tr>
                    <td>Cargo Automático a</td>
                    <td>:</td>
                    <td>{{account}}</td>
                </tr>
                <tr>
                    <td>Número de Operación</td>
                    <td>:</td>
                    <td>77565323</td>
                </tr>
                <tr>
                    <td>Carga Anual Equivalente (CAE)</td>
                    <td>:</td>
                    <td>{{percent(cae)}}</td>
                </tr>
            </table>
            <img src="images/sello.png" style="width: 200px;float: right">
            <div class="clear"></div>
            <sub style="text-align: justify; text-justify: inter-word;">
                Le informamos que el abono de su crédito será una excepción a los límites de su CuentaRUT, el saldo máximo es de $3.000.000 y el límite de depósitos mensuales, de $2.000.000. Le sugerimos liberar su saldo para poder seguir recibiendo abonos.
                <br>
                A contar de hoy tiene 10 días corridos para solicitar la retractaciín de esta operación. Dicha retractación no libera al cliente de los gastos incurridos como Impuestos e Intereses corrientes devengados hasta la fecha de retracto.
                <br>
                A contar de la recepción de la respectiva Póliza de Seguros y/o Certificado de Cobrertura, usted tendrá 10 días corridos para retractarse de ésta operación, teniendo derecho a la devolución de la prima que hubiese pagado.
            </sub>

            <br><br>


            <img src="images/logo-banco-estado@2x.png" style="width: 200px; float:left">
        </div>
    </div>
</div>
<div id="comprobante-imagen">
</div>



<div class="container" id="nextButton">
    <a role="group" href="#/home">
        <button type="button" class="btn btn-default text-center">Cerrar</button>
    </a>
</div>