/* app css stylesheet */

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Open Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: 400;
    color: #5e5e5e;
    margin-bottom: 100px;
}

.navbar.navbar-default {
    margin-bottom: 10px;
}

/*Footer*/
/*DISABLE IOS ZOOMING*/
.footer {
    position: absolute;
    bottom: -60px;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: #f5f5f5;
    margin-bottom: 0 !important;
    text-align: center !important;
}

#footer .navbar, #footer .navbar-text {
    margin:auto;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center !important;
}

/*Panels*/
.panel-body {
    background-color: #f5f5f5;
}
.panel > .panel-footer {
    background-color: #e0e0e0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.glyphicon {
    font-size: 1.5em;
}
.clear {
    clear: both;
}
.container .btn {
    border-radius: 10px;
    color: #5e5e5e;
}
.container .btn-default  {
    border-radius: 10px;
    color: #5e5e5e;
    background-color: #e0e0e0;
    border:none
}
.container .btn-default h3 {
    margin-top: 10px;
}

/*Nav Bar*/
.navbar-default {
    background-color: #f3f4f6;
}
/* CENTER ON MOBILE ONLY */
@media (max-width: 768px) {
    .navbar-brand {
        transform: translateX(-50%);
        left: 50%;
        position: absolute;
    }
}
.navbar-header button {
    border: none;
}
a.navbar-brand {
    vertical-align: middle;
    padding-top: 10px;
}
.navbar img{
    width: 177px;
}



/*Login */
#login h2 {
    margin-top: 0;
    margin-bottom: 20px;
}
#login input {
    margin: 20px 0 10px 0;
    height: 40px;
    border: none;
    border-bottom: 1px solid gray;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #f3f4f6;
    text-align: center;
    font-size: 1.3em;
}
#login .btn-group {
    margin-top: 15px;
}
#login button {
    padding: 15px;
}

#login-contact {
    margin-top: 15px;
}

#login-contact button {
    color:gray;
    font-size: 1.5em;
    border: none;
    background-color: white;
    padding: 15px 40px 15px 40px;
}


/* Home */

#buscar input {
    border: none;
    background-color: #f5f4fa;
    box-shadow: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height:40px;
    font-size: 1.3em;
}
#buscar button {
    height: 40px;
    border: none;
    background-color: #f5f4fa;
    color: gray;
}

#offer {
    height: 60px;
    margin-top: 10px;
}

#offermessage {
    background-color: #4892a8;
    color: white;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-left-color: #bd375f;
    border-left-width: 6px;
    font-size: 1.3em;
    line-height: 90%;
    word-wrap:break-word;
    height: 60px;
    display: table-cell;
}

#offer .input-group-btn a{
    height: 60px;
    padding-top: 15px;
    background-color: #FFAD33;
    color: white;
    border: none;
    line-height: 90%;
    font-size: 16px;
}

#main-menu {
    margin-top: 10px;
}

#main-menu .btn-group{
    margin-top: 10px;
}

#main-menu .btn-default{
    text-align: left;
    color: #5e5e5e;
    font-size: 1.3em;
    background-color: #e0e0e0;
    border: none;
}

#main-menu button>div {
    float:left;
    font-size: 1.2em;
    padding:2px 0 0 15px;
}
#main-menu button .glyphicon {
    float:right;
    padding:2px 0 0 15px;
}


/* Paso 1 */
#paginator {
    text-align:center;
}
#paginator .pagination {
    margin:0;
}

.container h1 {
    color: #FFad33;
    font-size: 2em;
    text-align: center;
    margin-top: 10px
}

#sliderAmount {
    margin: 0 15px 0 15px;
}
#maxAmount,#maxMonths{
    text-align: right;
}
#sliderMonths {
    margin: 0 15px 0 15px;
}

/*Angular Sliders*/
rzslider .rz-bar-wrapper {
    padding-top: 14px;
}
rzslider .rz-bar {
    background: #f0f0ee;
    height: 8px;
}
rzslider .rz-pointer {
    background: #094c8c;
    top: -8px;
    left: 6px;
    z-index: 3;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 16px;
}
rzslider .rz-pointer:after {
    display: none;
}
rzslider .rz-bubble:not(.rz-limit) {
    font-size: 2em;
    font-weight: 900;
    color: #ffad33;
    transform: translateX(-50%);
    left: 50% !important;
    top: -1.7em;
}
rzslider .rz-bubble.rz-limit {
    font-size:0.8em;
    display: block;
    opacity: 1 !important;
    padding: 0 0;
}
#myForm>.section {
    margin-top: 20px;
    margin-bottom: 30px;
}
.container .panel-default {
    border: none;
    border-radius: 10px;
}
#seguro {
    width:100%;
    background-color: #f4f5f7;
    padding: 10px;
    border-radius: 10px;
}
#seguro .panel-default {
    padding:0;
    border:none;
    background-color: #f4f5f7;
    box-shadow: none;
}
#seguro .panel-heading {
    padding:0;
    background-color: #f4f5f7;
    border: none;
}
#seguro .panel-collapse {
    border:none;
    background-color: #f4f5f7;
    padding: 5px 0 10px 0;;
}
#seguro .panel-body {
    border: none;
    border-radius: 10px;
}
#seguro label {
    width: 100%;
    height: 40px;
    background-color: #e0e0e0;
    border:none;
    font-size: 1.3em;
    position: relative;
}
#seguro label.active {
    background-color: #FFD699;
    box-shadow: none
}
#seguro input {
    float: right;
}
/*Blokcing radio Buttons to be hit */
#seguro label div {
    position:absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    z-index: 2;
}



.insuranceTitle {
    text-align: center;
    color:#e7892a;
    font-size: 1.4em;
}

.insuranceDescription {
    text-align: center;
    color:#858585;
    font-size: 1.2em;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon.glyphicon-calendar {
    position: absolute;
    padding: 9px;
    pointer-events: none;
    right: 0px;
    z-index: 10;
}

/* add padding  */
.right-addon input {
    padding-right: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius:10px;
}


#datetimepicker1 {
    width: 100%;
    border:none;
}
#datetimepicker1 input{
    font-size: 16px;
    height: 40px;
    border:none;
    box-shadow: none;
    background-color: #e0e0e0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#datetimepicker1 .input-group-addon {
    border:none;
    background-color: #e0e0e0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* For Date Picker*/
.bootstrap-datetimepicker-widget table td.day {
    color:#ff9900;
}
.bootstrap-datetimepicker-widget table td.day.disabled {
    color:#777
}
.bootstrap-datetimepicker-widget table td.day.new {
    display: none;
}
.bootstrap-datetimepicker-widget table td.day.old {
    color:white;
    pointer-events: none;
}

/*End of for Date Picker*/
#account {
    border: none;
    height:40px;
    background-color: #e0e0e0;
    border-radius: 10px;
    box-shadow: none;
    font-size: 16px;
}

.well.alert {
    border:none !important;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 5px;
    background-color: #f4f5f7;
    border-radius: 10px;
}

.container h2 {
    color: #5c5c5c;
    font-size: 1.7em;
    text-align: center;
}
.container h3 {
    color: #5c5c5c;
    font-size: 1.5em;
    text-align: center;
}

#detalles .panel-footer {
    padding: 0;
}
#detalles .panel-footer  button{
    height: 60px;
    font-size: 1.1em;
    background-color: #f4f5f7;
    border: 1px solid #e0e0e0;
}
#detalles {
    margin-top: 10px;
}
#detalles .panel-body {
    padding-top: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.container .panel-default > .panel-heading {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #e0e0e0;
}
#detalles .panel-heading button{
    background-color: #e0e0e0;
    border:none;
    float:right;
    color: orange;
    margin-right: -5px;
}
#detalles ispinner {
    float:right;
    width: 30px;
    height: 30px;
    z-Index: 4;
    position: absolute;
    top:10px;right:10px;
    background-color:#e0e0e0;
}

#coordenadas input[type=number] {
    -webkit-text-security: disc;
}

ispinner {
    float:right;
    width: 20px;
    height: 20px;
    display: none;
}

.info-button {
    border:none;
    float:right;
    color: orange;
    background: none;
    font-size: 1.2em;
}

#detalles h3{
    color:#ff9900;
}
.panel td {
    padding-left: 3px;
    padding-right: 3px;
    font-size: 3vw;
}
.panel-body table {
    width: 100%;
}



#info-modal ul {
    padding-left: 0;
}
#info-modal li {
    list-style-type: none;
    margin-bottom: 0.3em;
}

.modal-footer .btn-default {
    background-color: #e0e0e0;
    border:none;
}
.modal-footer .btn-primary {
    background-color: #ff9900;
    border:none;
}

.panel-footer{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none !important;
}

#goTop {
    border-top-left-radius:0px;
    background-color: #e0e0e0;
}


#navigation-buttons {
    border:none;
}
#navigation-buttons a {
    background-color: #ffd699;
    color: white;
    border-radius: 10px;
    font-size: 1.5em;
    padding:10px 5px 10px 5px;
    border:2px solid white;
}
#navigation-buttons a.next {
    background-color: #ff9900;
}

#navigation-buttons .glyphicon-menu-left {
    margin-right: -30px;
}
#navigation-buttons .glyphicon-menu-right {
    margin-left: -30px;
}

#nextButton button {
    background-color: #ff9900;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1.5em;
    padding:10px 10px 10px 10px;
    width:100%
}
#nextButton .glyphicon {
    float:right;
}

/*Paso 2*/

/*double scale */
.x2 h3 {
    font-size: 3em;
    text-align: left;
}
.x2 h2 {
    font-size: 3.4em;
}
.x2 td {
    padding-left: 6px;
    padding-right: 6px;
    font-size: 6.4vw;
}
.x2 {
    width: 200%;
}


#datos-usuario strong{
    color: #ff9900;
}

#verificar-credito h3 {
    margin-top: 0;
    color:#ff9900;
}
#verificar-credito .panel-default {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
#verificar-credito .panel-footer {
    padding: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
#verificar-credito .panel-footer  button{
    height: 60px;
    font-size: 1.1em;
    background-color: #e0e0e0;
    border: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


#hoja-resumen .glyphicon {
    margin-top: 0px;
}


.preview {
    position:relative;
    border: 1px solid #e0e0e0;
    padding: 10px;
}
.preview button {
    border:none;
    position:absolute;
    top:0px;
    left:0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    z-index: 2;
    /*-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;*/
    background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,1));
}
#accept {
    margin-top: 20px;
}
#accept .input-group{
    /*background-color: #e0e0e0;*/
    padding: 0;
    border-radius: 10px;
    text-align: justify;
}
#accept .input-group-addon {
    border: none;
    /*background-color: #e0e0e0;*/
    background-color: #f5f5f5;
}
#accept h5 {
    margin-top: 0;
    margin-bottom: 0;
}
#accept .panel-body {
    border-radius: 10px;
}

.vertical-align-parent {
    display: table;
    white-space: normal;
    width: 100%;
}
.vertical-align-child {
    display: table-cell !important;
    vertical-align: middle;

}

#coordenadas {
    /*	background-color: #e0e0e0;
    */	border: none;
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
    margin-top: 10px;
}
#coordenadas .col-xs-4 {
    padding:0;
    text-align: center
}
#coordenadas label {
    text-align: center;
    padding-top: 5px;
    float:left;
}
#coordenadas input{
    width: 50px;
    margin-right: 0;
    text-align: center;
    font-size: 16px;
}
#coordenadas h5 { margin-bottom:10px;}
#coordenadas .form-group {
    margin-bottom: 0;
}

#alerts {
    margin-top: 0px;
}
#alerts .alert {
    margin-top: 10px;
    margin-bottom: 10px;
}

#download-modal img {
    width: 100%;
}

.printable {
    display: none;
}


/*Paso 3*/

#comprobante-credito {
    margin-top: 10px;
    width: 200%;
    font-size: 7vw;
}
#comprobante-credito  h3{
    margin-top: 0;
    color:#ff9900;
}
#comprobante-credito  td{
    font-size: 6.4vw;
}

#comprobante-imagen img {
    width: 100%;
}


/*Progress Bar*/
.bs-wizard {margin-top: 0px;}
/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step.active .bs-wizard-info {color: #333; font-size: 14px;}
/*.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbebcc; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} */
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; text-align: center; padding-top: 5px; width: 30px; height: 30px; display: block; background: #f39800; color: white; top: 25px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
/*.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #ffc266; border-radius: 50px; position: absolute; top: 8px; left: 8px; } */
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 4px; box-shadow: none; margin: 22px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #f5f5f5;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #acacac;}
.bs-wizard > .bs-wizard-step.completed > .bs-wizard-dot {background-color: #dddddd;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}

.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/



/* Page Load Modal  Style*/

#pageLoadModal .modal-content {
    color: white;
    background-color: rgb(113,113,113);
    background-color: rgba(30,30,30,0.7);
    border: none;
    box-shadow: none;
}
#pageLoadModal .ispinner {
    margin: auto;
}

