<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Banco Estado</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Bootstrap-->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!--HTML5 BoilerPlate-->
    <!--<link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">-->
    <!--<link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">-->
    <!--JQuery UI-->
    <link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css">
    <!--Angular Slider-->
    <link rel="stylesheet" href="bower_components/angularjs-slider/dist/rzslider.min.css">
    <!--DateTime Picker-->
    <link rel="stylesheet" href="bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <!--custom-->
    <link rel="stylesheet" href="app.css">
    <!-- Open Sans-->
    <link href='fonts/fonts.css' rel='stylesheet' type='text/css'>
    <!--iSpinner style -->
    <link rel="stylesheet" href="views/directives/ispinner.css">


    <!--JS for Modernizr-->
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a href="#/" class="navbar-brand">
                <img src="images/logo-banco-estado@2x.png">
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse" ng-controller="NavigationController">
            <ul class="nav navbar-nav">
                <li ng-repeat="menu in menus" class="{{menu.class}}">
                    <a href="#{{menu.url}}">{{menu.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>




<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div ng-view autoscroll="true"></div>




<!-- Footer -->
<div class="navbar-default footer" style="bottom:0" id="footer" >
    <div class="container">
        <div class="navbar-text">&copy; 2015 Banco Estado - Todos los derechos reservados</div>
    </div>
</div>


<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/underscore/underscore-min.js"></script>
<!--JQuery-->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
<!--Angular-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<!--Version-->
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
<!--Bootstrap-->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!--HTML2Canvas-->
<script src="bower_components/html2canvas/build/html2canvas.min.js"></script>
<!--Angular Slider-->
<script src="bower_components/angularjs-slider/dist/rzslider.min.js"></script>
<!--DateTime Picker-->
<script src="bower_components/moment/min/moment.min.js"></script>
<script src="bower_components/moment/locale/es.js"></script>
<script src="bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<!--From https://github.com/diosney/angular-bootstrap-datetimepicker-directive-->

<!--Custom Scripts-->
<script src="app.js"></script>
<script src="ng/factory.js"></script>
<script src="views/pages/login/login.js"></script>
<script src="views/pages/home/home.js"></script>
<script src="views/pages/paso1/paso1.js"></script>
<script src="views/pages/paso2/paso2.js"></script>
<script src="views/pages/paso3/paso3.js"></script>
<script src="views/directives/directives.js"></script>
<!--End of Custom Scripts-->



</body>
</html>
