<div class="container">
    <div class="row bs-wizard" style="border-bottom:0;">

        <div class="col-xs-4 bs-wizard-step active">
            <div class="text-center bs-wizard-stepnum"></div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot" after="1">1</a>
            <div class="bs-wizard-info text-center">Simular</div>
        </div>

        <div class="col-xs-4 bs-wizard-step disabled"><!-- complete -->
            <div class="text-center bs-wizard-stepnum"></div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot">2</a>
            <div class="bs-wizard-info text-center">Confirmar</div>
        </div>

        <div class="col-xs-4 bs-wizard-step disabled"><!-- complete -->
            <div class="text-center bs-wizard-stepnum"></div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot">3</a>
            <div class="bs-wizard-info text-center">Comprobante</div>
        </div>

    </div>
</div>


<div class="container">
    <h1>Simular Crédito</h1>

    <form id="myForm" ng-submit="submit()">

        <!-- Monto -->
        <div class="form-group section">
            <ispinner></ispinner>
            <label>Monto</label>
            <br> <br>
            <rzslider
                    rz-slider-model="sliderAmount.value"
                    rz-slider-options="sliderAmount.options">
            </rzslider>
        </div>

        <!-- Cuotas -->
        <div class="form-group section">
            <ispinner></ispinner>
            <label>Número de Cuotas</label>
            <br> <br>
            <rzslider
                rz-slider-model="sliderMonths.value"
                rz-slider-options="sliderMonths.options">
            </rzslider>
        </div>


        <!--Seguro -->
        <div class="form-group section">
            <ispinner></ispinner>
            <label for="seguro">Seguro</label>
            <div class="panel-group" id="seguro" ng-init="selectedInsurance=1" role="tablist" aria-multiselectable="true" data-toggle="buttons">

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <label class="btn btn-default" role="button" data-toggle="collapse" data-parent="#seguro" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Protegido
                            <input type="radio" name="insurance" value="0" ng-model="selectedInsurance">
                            <div></div>
                        </label>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">

                            <div class="insuranceTitle">SEGURO PROTEGIDO</div>
                            <div class="insuranceDescription">Cubre en caso de fallecimiento, accidente, o cesantía.</div>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <label class="btn btn-default active" role="button" id="defaultInsurance" data-toggle="collapse" data-parent="#seguro" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            Desgravamen
                            <input type="radio" ng-checked="true"  name="insurance" value="1" ng-model="selectedInsurance" checked>
                            <div></div>

                        </label>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">

                            <div class="insuranceTitle">SEGURO DESGRAVAMEN</div>
                            <div class="insuranceDescription">Cubre 100% de la deuda en caso de fallecimiento.</div>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <label class="btn btn-default" role="button" data-toggle="collapse" data-parent="#seguro" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Ninguno
                            <input type="radio" name="insurance" value="2" ng-model="selectedInsurance" >
                            <div></div>
                        </label>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">

                            <div class="insuranceTitle">SIN SEGURO</div>
                            <div class="insuranceDescription">No estás cubierto, en caso de accidente  o fallecimiento.</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Date Picker: JQuery Version-->

        <div class="form-group section" id="first-payment">
            <ispinner></ispinner>
            <label>Día de Pago</label>
            <!-- Button trigger modal -->
            <button type="button" data-toggle="modal" data-target="#info-day" class="info-button">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            </button>

            <div class="clear"></div>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" ng-value="paymentDay" readonly/>
                    <span class="input-group-addon" id="calendarButton">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="well alert collapse" id="paymentDayAlert">
                <div class="insuranceDescription">El pago será cada mes, en este mismo día.</div>
            </div>
        </div>

        <!--End of Date Picker: JQuery version-->


        <!--Accounts-->

        <div class="form-group section">
            <ispinner></ispinner>
            <label for="account">Cuenta de Abono</label>
            <button type="button" data-toggle="modal" data-target="#info-account" class="info-button">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            </button>
            <div class="clear"></div>
            <select name="account" id="account" ng-model="account" class="form-control" data-toggle="collapse" data-target="accountAlert" >
                <option value="" disabled selected hidden>Seleccionar Cuenta de Abono</option>
                <option value="0">{{accounts[0]}}</option>
                <option value="1">{{accounts[1]}}</option>
            </select>
            <div class="well alert collapse" id="accountAlert">
                <div class="insuranceDescription">El cargo automático se hará a ésta cuenta.</div>
            </div>
        </div>


<!-- ---------------------------------- Detalles ------------------------------------------------------------------- -->

        <div id="detalles">
            <div class="panel panel-default">
                <div class="panel-heading" style="position:relative">
                    <button data-toggle="modal" data-target="#info-modal"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></button>
                    <ispinner></ispinner>
                    <h2 class="panel-title">Detalle del Crédito</h2>
                </div>
                <div class="panel-body" id="detalles-printable">

                    <h3 class="text-center">Valor de Cuota
                        <div id="detalle-valor-cuota">{{money(valorCuota)}}</div>
                    </h3>
                    <h4 class="text-center">Costo Total del Crédito
                        <div id="detalle-ctc">{{money(costoTotal)}}</div>
                    </h4>
                    <div>
                        <table class="table-stripped" style="margin: auto">
                            <tr>
                                <td>Número de Cuotas</td>
                                <td>:</td>
                                <td id="detalle-cuotas">{{sliderMonths.value}} meses</td>
                            </tr>
                            <tr>
                                <td>Tasa Mensual de Interés</td>
                                <td>:</td>
                                <td id="detalle-interes">{{percent(interes)}}</td>
                            </tr>
                            <tr>
                                <td>Monto Solicitado</td>
                                <td>:</td>
                                <td>{{money(sliderAmount.value)}}</td>
                            </tr>
                            <tr>
                                <td>Monto Total</td>
                                <td>:</td>
                                <td id ="detalle-monto-total">{{money(montoTotal)}}</td>
                            </tr>
                            <tr>
                                <td>Seguros Asociados</td>
                                <td>:</td>
                                <td id="detalle-seguro"> UF {{ufvalue(seguroUF)}} ({{money(seguro)}})</td>
                            </tr>
                            <tr>
                                <td>Impuestos</td>
                                <td>:</td>
                                <td id="detalle-impuestos">{{money(impuesto)}}</td>
                            </tr>
                            <tr>
                                <td>Notario</td>
                                <td>:</td>
                                <td id="detalle-notario">{{money(notario)}}</td>
                            </tr>
                            <tr>
                                <td>Día de Pago</td>
                                <td>:</td>
                                <td id="detalle-dia-pago">{{eachMonth(paymentDay)}}</td>
                            </tr>
                            <tr>
                                <td>Fecha Primer Pago</td>
                                <td>:</td>
                                <td id="detalle-fecha-pago">{{chileanDate(paymentDay)}}</td>
                            </tr>
                            <tr>
                                <td>Cargo Automático a</td>
                                <td>:</td>
                                <td id="detalle-cuenta">{{accounts[account]}}</td>
                            </tr>
                            <tr>
                                <td>Carga Anual Equivalente (CAE)</td>
                                <td>:</td>
                                <td id="detalle-cae">{{percent(cae)}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

<!-- --------------------------------------------------- Modals ---------------------------------------------------- -->
        <!-- Modal Day -->
        <div class="modal fade" id="info-day" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                        <div class="clear"></div>
                        <br>
                        Seleccione sólo en los días habilitados.
                        <br> <br>

                        <strong>El día seleccionado será el día de cargo de las cuotas del crédito.</strong>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Account-->
        <div class="modal fade" id="info-account" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                        <div class="clear"></div>
                        <br>
                        Seleccione entre sus cuentas de abono disponibles (CuentaRUT, Chequera Electrónica o Cuenta Corriente)
                        <br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Details  -->
        <div class="modal fade" id="info-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Descripción de los Campos</h4>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li><strong>Valor de Cuota:</strong> Monto que tendrás que pagar mensualmente por tu crédito</li>
                            <li><strong>Costo Total del Crédito:</strong> La suma total de las cuotas a pagar.</li>
                            <li><strong>Monto Solicitado:</strong> El monto que estás solicitando.</li>
                            <li><strong>Monto Total:</strong> El monto del crédito más los gastos adicionales.</li>
                            <li><strong>Número de Cuotas:</strong> La cantidad de meses en que prefieres tu crédito.</li>
                            <li><strong>Tasa Mensual de Interés:</strong> Tasa de interés mensual.</li>
                            <li><strong>Carga Anual Equivalente (C.A.E.):</strong> Contempla todos los gastos y costos del crédito, para comparar en el mercado.</li>
                            <li><strong>Impuestos:</strong> Costos de impuestos por el crédito.</li>
                            <li><strong>Notario:</strong> Costos de notario</li>
                            <li><strong>Seguros Asociados:</strong> Costo por los seguros escogidos.</li>
                            <li><strong>Cargo Automático:</strong> Cuenta a la cual se realizarán los cobros automáticos. Es la misma que la cuenta de abono.</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>


<!-- Alerts -->

        <div id ="alerts">
            <div class="alert alert-danger collapse" role="alert" id="account-alert">
                <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Debe elegir la cuenta de Abono.</strong>
            </div>
        </div>

<!-- Navigation Buttons -->

        <div id="navigation-buttons">
            <div class="btn-group" role="group">

                <a role="button" ng-click="submit()" id="step-one-next" class="btn btn-default btn-group-justified next">
                    Continuar
                    <span class="glyphicon glyphicon-menu-right pull-right" aria-hidden="true"></span>
                </a>
                <a role="button" class="btn btn-default btn-group-justified" href="#/home">
                    <span class="glyphicon glyphicon-menu-left pull-left" aria-hidden="true"></span>Volver
                </a>
            </div>
        </div>

    </form>
</div>

<!-- Page Load Modal -->

<div class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="" id="pageLoadModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="">
            <br> <br> <br>
            <h4 class="text-center">Un momento por favor</h4>
            <br>
            <div class="ispinner white large animating">
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
            </div>
            <br>
        </div>
    </div>
</div>

