<div class="container">
    <div class="row bs-wizard" style="border-bottom:0;">

        <div class="col-xs-4 bs-wizard-step completed">
            <div class="text-center bs-wizard-stepnum"></div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot">1</a>
            <div class="bs-wizard-info text-center">Simular</div>
        </div>

        <div class="col-xs-4 bs-wizard-step active"><!-- complete -->
            <div class="text-center bs-wizard-stepnum"></div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot">2</a>
            <div class="bs-wizard-info text-center">Confirmar</div>
        </div>

        <div class="col-xs-4 bs-wizard-step disabled"><!-- complete -->
            <div class="text-center bs-wizard-stepnum"></div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot">3</a>
            <div class="bs-wizard-info text-center">Comprobante</div>
        </div>

    </div>
</div>


<div class="container">
    <h1>Confirmar Crédito</h1>
</div>

<div class="container" id="datos-usuario">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Datos de Contacto</h2>
        </div>
        <div class="panel-body">
            <table class="table-stripped" style="margin:auto">
                <tr>
                    <td>Celular</td>
                    <td>:</td>
                    <td>+56 9 1234 5678</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>:</td>
                    <td>usuario@gmail.com</td>
                </tr>
                <tr>
                    <td>Dirección</td>
                    <td>:</td>
                    <td>Holanda 101</td>
                </tr>
                <tr>
                    <td>Ciudad</td>
                    <td>:</td>
                    <td>Santiago</td>
                </tr>
                <tr>
                    <td>Región</td>
                    <td>:</td>
                    <td>Metropolitana</td>
                </tr>
            </table>
        </div>
        <div class="panel-footer text-center">
            Si sus datos no son correctos, debe llamar al <strong><a href="tel:600 200 7000">600 200 7000</a></strong>
        </div>
    </div>
</div>



<div class="container" id="verificar-credito">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Datos del Crédito</h2>
        </div>
        <div class="panel-body" id="detalles-printable">
            <h2 class="printable">Detalle del Crédito</h2>
            <h3 class="text-center printable">Datos del Cliente</h3>
            <table class="table-stripped printable" style="margin:auto">
                <tr>
                    <td>Nombre</td>
                    <td>:</td>
                    <td>Camila Hermosilla Gómez</td>
                </tr>
                <tr>
                    <td>RUT</td>
                    <td>:</td>
                    <td>13.498.857-4</td>
                </tr>
                <tr>
                    <td>Fecha y hora</td>
                    <td>:</td>
                    <td id="fecha-y-hora"></td>
                </tr>
            </table>
            <h3 class="text-center printable"> <br> Datos del Crédito</h3>
            <h3 class="text-center non-printable">Valor de Cuota
                <div id="detalle-valor-cuota" class="non-printable">{{money(valorCuota)}}</div>
            </h3>
            <h4 class="text-center non-printable">Costo Total del Crédito
                <div id="detalle-ctc" class="non-printable">{{money(costoTotal)}}</div>
            </h4>

            <table class="table-stripped" style="margin: auto">
                <tr class="printable">
                    <td>Fecha de solicitud</td>
                    <td>:</td>
                    <td id="fecha-solicitud"></td>
                </tr>
                <tr class="printable">
                    <td>Valor de Cuota</td>
                    <td>:</td>
                    <td>{{money(valorCuota)}}</td>
                </tr>
                <tr class="printable">
                    <td>Costo Total del Crédito</td>
                    <td>:</td>
                    <td>{{money(costoTotal)}}</td>
                </tr>
                <tr>
                    <td>Número de Cuotas</td>
                    <td>:</td>
                    <td>{{months}} meses</td>
                </tr>
                <tr>
                    <td>Tasa Mensual de Interés</td>
                    <td>:</td>
                    <td>{{percent(interes)}}</td>
                </tr>
                <tr>
                    <td>Monto Solicitado</td>
                    <td>:</td>
                    <td>{{money(montoSolicitado)}}</td>
                </tr>
                <tr>
                    <td>Monto Total</td>
                    <td>:</td>
                    <td>{{money(montoTotal)}}</td>
                </tr>
                <tr>
                    <td>Seguros Asociados</td>
                    <td>:</td>
                    <td>UF {{ufvalue(seguroUF)}} ({{money(seguro)}})</td>
                </tr>
                <tr>
                    <td>Impuestos</td>
                    <td>:</td>
                    <td>{{money(impuesto)}}</td>
                </tr>
                <tr>
                    <td>Notario</td>
                    <td>:</td>
                    <td>{{money(notario)}}</td>
                </tr>
                <tr>
                    <td>Día de Pago</td>
                    <td>:</td>
                    <td>{{eachMonth(paymentDay)}}</td>
                </tr>
                <tr>
                    <td>Fecha Primer Pago</td>
                    <td>:</td>
                    <td>{{chileanDate(paymentDay)}}</td>
                </tr>
                <tr>
                    <td>Cargo Automático a</td>
                    <td>:</td>
                    <td>{{account}}</td>
                </tr>
                <tr>
                    <td>Carga Anual Equivalente (CAE)</td>
                    <td>:</td>
                    <td>{{percent(cae)}}</td>
                </tr>
            </table>
            <sub class="printable" style="line-height: 5px; font-size: 1.1em"> <br>
                Oferta válida desde el XX y el XX de XXXX de XXX. El Banco se reserva  el derecho de solicitar antecedentes para el otorgamiento o no del crédito. Para obtener un crédito de consumo no es necesario tomar seguros ni contratar otros servicios. <br>
                El valor de la cuota, CAE y el costo final del crédito se han calculado considerando todos los conceptos y montos que constan precedentemente en ésta hoja. <br>
                La presente propuesta tiene una vigencia de 7 días hábiles. <br>
                Contratación de créditos por Internet sólo para operaciones por monto inferior o equivalente a UF 1.000 y para clientes con documentación respectiva firmada. En ningún caso el otorgamiento del crédito ni sus términos de contratación estarán condicionados a la contratación del seguro ofrecido por el Banco.
            </sub>

        </div>
        <div class="panel-footer">

            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button type="button" id="download" class="btn btn-default" data-toggle="modal" data-target="#download-modal">
                        <h4 class="text-center vertical-align-parent row">
                            <span class="glyphicon glyphicon-floppy-save vertical-align-child col-xs-2" aria-hidden="true"></span>
                            <p class="vertical-align-child col-xs-10">Guardar Detalle Crédito</p>
                        </h4>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container" id="hoja-resumen">

    <button role="button" class="btn btn-default btn-group-justified" data-toggle="modal" data-target="#hoja-resumen-modal">
        <h4 class="vertical-align-parent">
            <span class="glyphicon glyphicon-file pull-left vertical-align-child" aria-hidden="true"></span>
            <p class="vertical-align-child">Ver Propuesta Póliza de Seguro</p>
        </h4>
    </button>
    <div class="modal fade" id="hoja-resumen-modal" tabindex="-1" role="dialog" aria-labelledby="hoja-resumen-title">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="hoja-resumen-title">Hoja de Resumen</h4>
                </div>
                <div class="modal-body text-center">
                    <strong>Presiona la imagen para descargar.</strong>
                    <img src="images/hoja-resumen1.png" style="width:100%">
                    <img src="images/hoja-resumen2.png" style="width:100%">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!--  <div class="panel panel-default">
       <div class="panel-heading">
         <h2 class="panel-title">Ver Detalle Propuesta Póliza de Seguro</h2>
       </div>
       <div class="panel-body">
           <div class="preview">
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus malesuada ipsum ut facilisis elementum. Pellentesque eu est nec ligula porttitor mattis quis luctus nisl. Morbi massa lorem, sollicitudin in tortor nec, rhoncus maximus libero. Etiam ut justo non diam rutrum porta. Donec nisl quam, pellentesque sit amet nisi sit amet, sagittis convallis justo. Cras ut venenatis urna.
           <button id="fog" role="button" data-toggle="modal" data-target="#hoja-resumen-modal"></button>
           </div>
       </div>
     </div> -->

</div>

<div class="container" id="accept">
    <div class="panel panel-default">
        <!-- <div class="panel-heading">
          <h2 class="panel-title">Confirmar</h2>
        </div> -->
        <div class="panel-body">
            <div class="input-group" >
            <span class="input-group-addon">
              <input type="checkbox" id="accept-checkbox" style="width: 20px">
            </span>
                <h5>Mis datos son correctos, he leído y acepto las condiciones de crédito y seguro.</h5>
            </div><!-- /input-group -->
            <form class="form-inline" id="coordenadas">
                <div>
                    <button type="button" data-toggle="modal" data-target="#info-coordenadas" class="info-button">
                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    </button>
                    <h5>Ingrese la clave de transferencia de su Tarjeta de Coordenadas N° 812511</h5>
                </div>
                <div class="clear"></div>
                <div class="row container form-group">
                    <div class="col-xs-4">
                        <div class="" >
                            <label for="code1">E1</label>
                            <input type="number" pattern="[0-9]*" inputmode="numeric" class="coordenadasInput" maxlength="2" id="code1" class="form-control">
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class=""  >
                            <label for="code2">C4</label>
                            <input type="number" pattern="[0-9]*" inputmode="numeric" class="coordenadasInput"  maxlength="2" id="code2" class="form-control" >
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class=""  >
                            <label for="code3">H8</label>
                            <input type="number" pattern="[0-9]*" inputmode="numeric" class="coordenadasInput" maxlength="2" id="code3" class="form-control" >
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="download-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Detalle Crédito</h4>
            </div>
            <div class="modal-body text-center">
                <strong>Presiona la imagen para descargar.</strong>
                <div id="download-body"></div>
                <!-- <button id="pdf-download" class="btn btn-default">
                  <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                  PDF</button>
                <button id="png-download" class="btn btn-default">
                  <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                  PNG</button> -->
                <div class="clear"></div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="info-coordenadas" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                <div class="clear"></div>
                <img src="images/info-coordenadas.png" style="width:100%">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Alerts -->

<div class="container" id ="alerts">
    <div class="alert alert-danger collapse" role="alert" id="accept-alert">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Debe aceptar las <strong>condiciones del crédito.</strong>
    </div>

    <div class="alert alert-danger collapse" role="alert" id="token-alert">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error en la clave de coordenadas.</strong> Por favor introduzca el mismo código en cada campo.
    </div>
</div>


<div class="container" id="navigation-buttons">
    <div class="btn-group" role="group">
        <a role="button" class="btn btn-default btn-group-justified next" id="nextButton" ng-click="next()">
            <span class="pull-left"> </span>
            Solicitar Crédito
            <span class="glyphicon glyphicon-menu-right pull-right" aria-hidden="true"></span>
        </a>
        <a role="button" class="btn btn-default btn-group-justified" href="#/paso1">
            <span class="glyphicon glyphicon-menu-left pull-left" aria-hidden="true"></span>Volver
        </a>
    </div>
</div>

<!-- Page Load Modal -->

<div class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="" id="pageLoadModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="">
            <br> <br> <br>
            <h4 class="text-center">Un momento por favor</h4>
            <br>
            <div class="ispinner white large animating">
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
                <div class="ispinner-blade"></div>
            </div>
            <br>
        </div>
    </div>
</div>
