<div class="container" id="login">

    <h2>Ingresar a mi cuenta en línea</h2>
    <form>
        <div class="form-group">
            <input type="number" class="form-control" name="username" placeholder="RUT: 12.345.678-9"/>
            <input type="password" class="form-control" name="password" placeholder="Contraseña"/>
        </div>
    </form>
    <h5 class="text-center">¿Olvidó su contraseña?</h5>

    <div class="btn-group btn-group-justified" role="group" aria-label="..." id="nextButton">
        <a class="btn"  href="#/home">
            <button type="button" class="btn btn-default text-center">ENTRAR
            </button>
        </a>
    </div>
</div>

<div class="container text-center" id="login-contact" >
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default text-center"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></button>
        <button type="button" class="btn btn-default text-center" style="border-left: 3px solid gray"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></button>
    </div>
    <a style="color:gray"><h4 class="text-center">¿No está registrado?</h4></a>
</div>